p {
font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
color: #f48722;
}


h2 {
    color: #ff5500;
}

iframe {
position: relative;
border: 8px solid #f48722;
}

.img-border {
      border: 8px solid #f48722;
}



.icon {
border: none;
}

.list {
color: #f48722;
text-align: left;


}
.mini {
    color: #ff5500;
    text-align: left;
}


.index {
    text-align: left;
}

figcaption {
    background-color: #ffead9;
    color: #f48722;
    font-style: italic;
    padding: 2px;
    text-align: right;
    position: right;
    margin-top: 530px;
    margin-left: 600px;
   
  }

 
